header{
    background-color: #CCCCCC;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    font-size: 34px;
    font-weight: bold;
}
.img-logo{
    position: relative;
    left: 20px;
}
nav {
    text-transform: uppercase;
    position:absolute;
    top: 110px;
    right: 0;
}
nav ul{
    position: relative;
    top: 40px;
    display: inline;
    margin-right: 0%;   
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
#banner {
    width: 100%;
    border-radius: 4px;

}
.principal{
    background-color: #CCCCCC;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
}
.titulo-h2{
    text-align: center;
    font-size: 22px;
    font-weight: bold; 
    padding: 0 0 20px 0;
}

p { font-size: 18px; }

.missao{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0 20px 0;
}
em  strong{
    color: #ff0000;
}
.itens{
    font-style: italic;
}
.beneficios{
    width: 940px;
    background-color: white;
    padding: 50px 0;
}
.titulo-h3{
    position: relative;
    left: 220px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 30px 0;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.beneficios-two li {
    position: relative;
    padding: 20px 20px;
    left: 150px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border:2px solid #000000;
    border-radius: 10px;
    
}

.beneficios-two li:hover{ border-color: #c78c19;}
.beneficios-two li:active{ border-color: #088c19;}
.beneficios-two li:hover{ font-size: 18px;}

.beneficios-img{
    position: relative;
    left: 150px;
    width: 50%;
    border-radius: 10px 5px 20px 40px;
    
}
footer{
    text-align: center;
    background: url("./image/bg.jpg");
    padding: 40px 0;
}
.copyrigth{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}